
/* * {
  margin:0;
  padding:0;
} */

body,html {
  height:100vh;
}

.App {
  display: flex;
}

.characteres-list {
  list-style: none;
}

.character-list-item {
  list-style: none;
}

.button {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px 20px;
}

.button-success {
  background-color: green;
  color: white;
}

.button-alert {
  background-color: orange;
  color: white;
}
